.contact {
    height: 100vh;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        

        h1 {
            font-size: 100px;
            line-height: 1.2;

            top: -200px;
        }

        .item {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 24px;
                margin-bottom: 5px;
            }

            span {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }

    .formContainer {
        flex: 1;
        position: relative;

        .mailSvg {
            height: 618px;
            width: 421px;
            stroke: orange;
            position: absolute;
            top: -130px;
            left: 0; 
            right: -100px;
            z-index: -1;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea {
                padding: 15px;
                background-color: #1c1c1c;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                font-size: 16px;

                &:focus {
                    outline: none;
                    border-color: orange;
                }
            }

            button {
                padding: 15px;
                background-color: orange;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darkorange;
                }
            }
        }
    }
}
